In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
# import the train and test data

train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [4]:
train_df.head()

                      Image  Label
0  r40fgp34fag8uesz98fz.jpg      7
1  fy3h2r5zsea89vcy131g.jpg      4
2  3bxkbk15zjligtg4aymr.jpg      0
3  lygdwa0bio4fitq48n35.jpg      0
4  240le483tt2ebwtuki7d.jpg      0

In [5]:
test_df.head()

                      Image  Label
0  kc0yq3aoedc1b0v05gwp.jpg      0
1  udxt71dqhpo3je6alnu3.jpg      0
2  n05xwwbvd8t0k2s6vxim.jpg      0
3  fe2udf0166l7e914798x.jpg      0
4  royn55uoa0oc330cmivt.jpg      0

In [7]:
train_df.Label.value_counts()

Label
4    3719
0    1519
3    1335
7    1236
2    1127
9    1122
8     989
1     719
5     678
6     268
Name: count, dtype: int64